{% extends 'base.html' %}
{% block body %}
	<!-- Title Board -->
	<div class="container-fluid py-5 text-center title-board">
		<div class="row py-lg-5">
		  	<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="text-black"><i class="bi bi-broadcast"></i>&nbspLive View</h1>
			</div>
		</div>
	</div>
	<!-- Camera Feed, buttons to control the camera and motion detection -->
	<div class="container py-5">
		<div class="col-lg-8 mx-auto text-center">
			{% if camera_started %}
				<div class="position-relative pb-4">
					<img id="frame" class="w-100 rounded" src="{{ url_for('video_feed') }}"/>
					<canvas id="videoCanvas" class="w-100 rounded position-absolute top-0 start-0 border border-dark shadow"></canvas>
				</div>
				<p>Draw on the video feed to create exclusion zones. These areas will be ignored by the motion detection.</p>
                <div class="d-flex justify-content-evenly pt-1 pb-2">
                    <button id="toggleMotionButton" class="btn btn-outline-primary">
						<i class="bi bi-play-circle"></i>&nbspStart Motion Detection
                    </button>
					<button id="clearButton" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i>&nbspClear All Exclusion Zones</button>
                </div>
				<hr class="border-2 border-dark">
				<p>Enter a different IP address to switch cameras.</p>
			{% else %}
				<p>Camera is not connected yet. Please enter the IP address of the camera below.</p>
			{% endif %}
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<form action="{{ url_for('start_camera') }}" method="post">
						<div class="input-group">
							<div class="input-group-text">URL</div>
							<input type="text" class="form-control" id="camera_url" name="camera_url" required>
							<button type="submit" class="btn btn-outline-primary"><i class="bi bi-box-arrow-in-right"></i>&nbspConnect</button>
						</div>
					</form>
				</div>
			</div>			
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}